.sectionOfClasses{
  margin:20px;
}

.container {
  max-width: 100%;
  justify-content: space-between;
  align-items: center;
  background: 
  linear-gradient(
    180deg,
    rgba(0, 0, 0, 0.4) 37.27%,
    rgba(255, 255, 255, 0) 65.86%
  ),
  url('../../public/images/misc/dashboardBackground.jpg');
  background-size: cover;
  display: flex;
  padding-right: 20px;
  padding-left: 20px;
  flex-direction: column;
  margin-right: 0;
  margin-top: 20px;
}

.container img {
  width: 100%;
}

.header {
  align-self: start;
  display: flex;
  margin-top: 20px;
  margin-bottom: 20px;
  width: 737px;
  max-width: 100%;
  flex-direction: column;
}

.title {
  color: rgb(255, 255, 255);
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-size: 40px;
  font-weight: 700;
  line-height: 60px;
  align-self: start;
  text-wrap: nowrap;
}

@media (max-width: 991px) {
  .title {
      max-width: 100%;
      text-wrap: initial;
  }
}

.subtitle {
  color: #fff;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-size: 24px;
  font-weight: 500;
  line-height: 36px;
  align-self: start;
  margin-top: 10px;
  text-wrap: nowrap;
}

@media (max-width: 991px) {
  .subtitle {
      max-width: 100%;
      text-wrap: initial;
  }
}

.button-container {
  color:white;
  margin-top: 78px;
  margin-right: 900px;
  margin-bottom: 100px;
  cursor:pointer;
    position:relative;
    padding:10px 20px;
    background-image: linear-gradient(144deg, #2f5c4d, rgb(68, 179, 155) 50%, #70e7dd);
    box-shadow: rgba(202, 241, 230, 0.2) 0 15px 30px -5px;
    font-size:28px;
    border-top-right-radius:10px;
    border-bottom-left-radius:10px;
    transition:all 1s;
    &:after,&:before{
      content:" ";
      width:10px;
      height:10px;
      position:absolute;
      border :0px solid #ffffff;
      transition:all 1s;
      }
    &:after{
      top:-1px;
      left:-1px;
      border-top:5px solid rgb(255, 255, 255);
      border-left:5px solid rgb(255, 249, 249);
    }
    &:before{
      bottom:-1px;
      right:-1px;
      border-bottom:5px solid rgb(255, 255, 255);
      border-right:5px solid rgb(255, 255, 255);
    }
    &:hover{
      border-top-right-radius:0px;
    border-bottom-left-radius:0px;
    background-image: linear-gradient(144deg, #70e7dd, rgb(68, 179, 155) 50%,#2f5c4d );
       color:rgb(0, 0, 0);
      &:before,&:after{
        
        width:100%;
        height:100%;
         border-color:rgb(255, 255, 255);
      }
    }
  }
  

.button-container a {
  text-decoration: none;
}

h4 {
  padding: 10px;
  font-size: 40px;
  font-weight:500;
  margin-bottom: 10px;
}

.innerDiv {
  width: 22%;
  height: 280px;
  display: flex;
  flex-direction: column;
  margin: 10px;
  border-radius: 15px;
  text-decoration: none;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  transition: transform 0.4s ease;
  padding-bottom: 20px;
}
.innerDiv:hover{
  transform: scale(1.1)
}

@media (max-width: 991px) {
  .container{
    max-height: 200px;
  }
  .title{
    font-size:25px;
    line-height: 30px;
  }
  .button-container{
    width:100px;
    height:30px;
    margin:0;
    font-size:15px;
  }
  .innerDiv{
    width: 90%;
    height:250px;
    align-items: center;
  }
  .timelineDiv{
    padding:0;
    margin-top:5px;
  }
  ul{
    flex-direction:column;
  }
}
ul {
  display: flex;
  width: 100%;
  padding-left: 0;
  margin: 0;
  justify-content: space-between;
  box-sizing: border-box;
}

.img {
  aspect-ratio: 1.61;
  object-fit: cover;
  object-position: center;
  border: 0.5px solid rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
  align-self: stretch;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.textCourseDiv {
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: #e0ebfd;
  border-radius: 0 0 15px 15px;
  padding-bottom: 15px;
  padding-top: 15px;
}

.textCourseDivEnrolled {
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  border-radius: 0 0 15px 15px;
  padding-bottom: 15px;
  padding-top: 20px;
}

.courseInfoDiv {
  justify-content: center;
  align-items: center;
  align-self: stretch;
  display: flex;
  flex-direction: column;
}

.courseTitleDiv {
  margin-top:15px;
  color: #ffffff;
  text-align:center;
  font-size: 25px;
  font-weight: 700;
  line-height: 36px;
  text-shadow: -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black, 1px 1px 0 black;
  letter-spacing: 2px;
  font-family: 'Coiny'
}

.courseDescDiv {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  margin-top: 4px;
  flex-direction: row;
  justify-content: space-between;
  gap: 15px;
  text-overflow: ellipsis;
  overflow: hidden;
  color: #ffffff;
  text-shadow: -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black, 1px 1px 0 black;
  letter-spacing: 2px;
}

.allCourseInfo {
  justify-content: center;
  text-align: center;
  flex: 1 0 0;
  border-radius: 15px;
  align-self: center;
  display: flex;
  margin-top: auto;
  margin-bottom: auto;
  flex-direction: column;
  flex-grow: 1;
  flex-basis: auto;
}

.subjectDiv {
  text-align: center;
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  color: #ffffff;
  text-shadow: -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black, 1px 1px 0 black;
  letter-spacing: 2px;
  margin-top:15%;
  font-family: 'Coiny'
}

.timeDiv {
  text-align: center;
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  margin-top: 2px;
  color: #ffffff;
  text-shadow: -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black, 1px 1px 0 black;
  letter-spacing: 2px;
  font-family: 'Coiny'
}

.buttonDiv {
  justify-content: center;
  align-items: center;
  align-self: center;
  display: flex;
  margin-top: auto;
  margin-bottom: auto;
  flex-direction: column;
  padding-right: 30px;
}

.topBtnDiv {
  justify-content: center;
  align-items: center;
  border-radius: 15px;
  align-self: stretch;
  display: flex;
  width: 30px;
  height: 30px;
  padding-top: 3px;
  padding-right: 3px;
  padding-bottom: 3px;
  padding-left: 3px;
  flex-direction: column;
  background-color: var(--Black, #000);
}

.img-2 {
  aspect-ratio: 1;
  object-fit: cover;
  object-position: center;
  width: 18px;
}

.bottomBtnDiv {
  justify-content: center;
  align-items: center;
  border-radius: 12px;
  align-self: stretch;
  display: flex;
  margin-top: 8px;
  width: 24px;
  padding-top: 7px;
  padding-right: 5px;
  padding-bottom: 7px;
  padding-left: 5px;
  flex-direction: column;
  background-color: var(--Black, #000);
}

.img-3 {
  aspect-ratio: 1.4;
  object-fit: cover;
  object-position: center;
  width: 14px;
  border: 1.5px solid rgba(255, 227.3987978696823, 156.18750303983688, 1);
}

.timelineDiv {
  justify-content: center;
  align-items: center;
  align-self: stretch;
  display: flex;
  margin-top: 10%;
  flex-direction: column;

}

.timlineBarDiv {
  justify-content: center;
  align-items: center;
  border-radius: 15px;
  background: linear-gradient(90deg, #48ade5 5.79%, #197d29 29.78%, #9b9b9b 30.25%);
  align-self: center;
  display: flex;
  width: 70%;
  padding-top: 2px;
  padding-right: 20px;
  padding-bottom: 2px;
  padding-left: 20px;
  flex-direction: column;
}

.completionTextDiv {
  color: #fff;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  align-self: center;
  margin-left: 1px;
  text-wrap: nowrap;
}

@media (max-width: 991px) {
  .completionTextDiv {
      text-wrap: initial;
  }
}

.weeklyDiv {
  justify-content: center;
  align-items: flex-start;
  align-self: center;
  box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.15);
  display: flex;
  margin-top: 50px;
  margin-left: 10px;
  margin-right: 10px;
  border-radius: 15px;
  width: 25%;
  flex-direction: row;
  gap: 5%;
}

.mondayDiv {
  color: #000;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  align-self: stretch;
  text-wrap: nowrap;
  justify-content: center;
  align-items: center;
  border-radius: 30px;
  width: 25px;
  padding-top: 1px;
  padding-right: 5px;
  padding-bottom: 1px;
  padding-left: 6px;
  background-color: #fff;
}

@media (max-width: 991px) {
  .mondayDiv {
      text-wrap: initial;
  }
}

.tuesdayDiv {
  color: #000;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  align-self: stretch;
  text-wrap: nowrap;
  justify-content: center;
  align-items: center;
  border-radius: 30px;
  opacity: 0.5;
  width: 25px;
  padding-top: 1px;
  padding-right: 7px;
  padding-bottom: 1px;
  padding-left: 8px;
  background-color: rgba(255, 255, 255, 0.5);
}

@media (max-width: 991px) {
  .tuesdayDiv {
      text-wrap: initial;
  }
}

.wednesdayDiv {
  color: #000;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  align-self: stretch;
  text-wrap: nowrap;
  justify-content: center;
  align-items: center;
  border-radius: 30px;
  width: 25px;
  padding-top: 1px;
  padding-right: 5px;
  padding-bottom: 1px;
  padding-left: 5px;
  background-color: #fff;
}

@media (max-width: 991px) {
  .wednesdayDiv {
      text-wrap: initial;
  }
}

.thursdayDiv {
  color: #000;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  align-self: stretch;
  text-wrap: nowrap;
  justify-content: center;
  align-items: center;
  border-radius: 30px;
  opacity: 0.5;
  width: 25px;
  padding-top: 1px;
  padding-right: 7px;
  padding-bottom: 1px;
  padding-left: 8px;
  background-color: rgba(255, 255, 255, 0.5);
}

.fridayDiv {
  color: #000;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  align-self: stretch;
  text-wrap: nowrap;
  justify-content: center;
  align-items: center;
  border-radius: 30px;
  width: 25px;
  padding-top: 1px;
  padding-right: 5px;
  padding-bottom: 1px;
  padding-left: 5px;
  background-color: #fff;
}

.saturdayDiv {
  color: #000;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  align-self: stretch;
  text-wrap: nowrap;
  justify-content: center;
  align-items: center;
  border-radius: 30px;
  opacity: 0.5;
  width: 25px;
  padding-top: 1px;
  padding-right: 7px;
  padding-bottom: 1px;
  padding-left: 8px;
  background-color: rgba(255, 255, 255, 0.5);
}

.sundayDiv {
  color: #000;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  align-self: stretch;
  text-wrap: nowrap;
  justify-content: center;
  align-items: center;
  border-radius: 30px;
  width: 25px;
  padding-top: 1px;
  padding-right: 5px;
  padding-bottom: 1px;
  padding-left: 5px;
  background-color: #fff;
}

.unenrolledBottomBtnDiv {
  text-align: center;
  font-size: 17px;
  font-weight: 400;
  color: #ffffff;
  text-shadow: -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black, 1px 1px 0 black;
  letter-spacing: 2px;
  margin-top:20px;
  margin-left:10px;
  margin-right:10px;
  margin-bottom:20px;
  font-family: 'Coiny';
}

.img-2 {
  aspect-ratio: 1;
  object-fit: cover;
  object-position: center;
  width: 18px;
}

.unenrolledTopBtnDiv {
  justify-content: center;
  align-items: center;
  border-radius: 12px;
  align-self: stretch;
  display: flex;
  margin-top: 8px;
  width: 24px;
  padding-top: 7px;
  padding-right: 7px;
  padding-bottom: 7px;
  padding-left: 7px;
  flex-direction: column;
  background-color: var(--Black, #000);
}

.img-3 {
  aspect-ratio: 1;
  object-fit: cover;
  object-position: center;
  width: 10px;
  border-radius: 15px;
  border: 1.5px solid rgba(255, 227.3987978696823, 156.18750303983688, 1);
}

.myProgress {
  align-self: start;
  color: #000;
  font-size: 15px;
  font-weight: 700;
  line-height: 24px;
  max-width: 85%;
  margin-left: 15px;
  text-overflow: ellipsis;
  overflow: hidden;
  padding-top: 3px;
  width: 30px;
  padding-left: 3px;
  padding-right: 3px;
  padding-bottom: 3px;
  border-radius: 15px;
  background-color: var(--Black, #000);
  box-shadow: rgba(0, 0, 0, 0.5) 0 10px 15px -3px;
  box-sizing: border-box;
  opacity: 0.8;
}

.unenrolledCourseInfoDiv {
  color: #000;
  font-size: 15px;
  font-weight: 700;
  line-height: 24px;
  align-self: center;
  width: 80%;
  max-width: 100%;
  margin-top: 30px;
  margin-left: 20px;
}

.unenrolledSubjectDiv {
  color: #000;
  font-size: 15px;
  font-weight: 700;
  line-height: 24px;
  width: 80%;
  max-width: 100%;
  margin-top: 20px;
  margin-left: 20px;
}

.unenrolledButtonDiv {
  align-self: start;
  display: flex;
  margin-top: 20px;
  padding-right: 30px;
}

.unenrolledTopBtnDiv {
  justify-content: center;
  align-items: center;
  border-radius: 12px;
  align-self: start;
  display: flex;
  margin-top: 8px;
  width: 24px;
  padding-top: 7px;
  padding-right: 7px;
  padding-bottom: 7px;
  padding-left: 7px;
  flex-direction: column;
  background-color: var(--Black, #000);
}

.img-3 {
  aspect-ratio: 1;
  object-fit: cover;
  object-position: center;
  width: 10px;
  border-radius: 15px;
  border: 1.5px solid rgba(255, 227.3987978696823, 156.18750303983688, 1);
}

.unenrolledTextDiv {
  color: #fff;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  align-self: start;
  padding-top: 20px;
  text-wrap: nowrap;
}

@media (max-width: 991px) {
  .unenrolledTextDiv {
      text-wrap: initial;
  }
}

